
.tweet-box{
    border-bottom: 8px solid var(--twitter-background); 
    padding:10px 15px;
}

.tweetbox-input >input:focus {
    outline:none !important;
}

.tweet-box > form{
    display: flex;
    flex-direction: column;
}

.tweetbox-input{
    display:flex;    
    padding:20px;
}

.tweetbox-input > input{
    flex: 1;
    margin-left: 20px;
    font-size:20px;
    border:none;
}

.tweetBox-tweetButton{
    background-color: var(--twitter-color) !important;
    color:white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 40px !important;
    width: 80px;
    margin-left: auto !important;
    margin-top:8px !important;
    
}

.tweet-input-button{
display: flex;
align-items: center;
margin-left: 40px;
}


.tweet-input-icons> .MuiSvgIcon-root{
    padding:15px;    
    color: var(--twitter-color);
    font-size: 24px;
}

.MuiSvgIcon-root:hover{
    cursor:pointer;
    color: var(--twitter-color);
    background-color: var(--hover-background);
    border-radius: 30px;
    transition: 100ms ease-out;
}