.sideBarOption{
    display:flex;
    align-items: center;
}
.sideBarOption> .MuiSvgIcon-root{
    padding:20px;
}
.sideBarOption > h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;    
}
.sideBarOption:hover{
    cursor:pointer;
    color: var(--twitter-color);
    background-color: var(--twitter-background);
    border-radius: 30px;
    transition: 100ms ease-out;
}

.sideBarOption--active{    
    color: var(--twitter-color);
}